.nav {
  /* fiexd를 설정해줄때는 width를 설정해줘야 한다!
  element를 기존의 다른 것들로부터 떼어내서,
  다른 레이어에 올려놔야 하기 때문이다.*/
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  bottom: 10px;
  left: 0;
  bottom: 0;
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

@keyframes emphasis {
  from {
    transform: scale(1.5);
  }
  to {
    transform: none;
  }
}

.nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  animation: emphasis 0.8s ease-in-out infinite;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  /* 처음부터 안보이게 하기 위함 */
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}
